.container {
  display: flex;
}

#col-1 {
/*  background-color: yellow;*/
  flex: 1;
}

#col-2 {
/*  background-color: orange;*/
  flex: 1;
}

.type_multi {
  width: 35%;
}

.card_count {
  width: 30px;
}

#hand_size {
  width: 30px;
}


.combo_multi {
  width: 35%;
}

.combo_rating {
  width: 30px;
}