.container {
  display: flex;
}

#col-1 {
/*  background-color: yellow;*/
  flex: 1;
}

#col-2 {
/*  background-color: orange;*/
  flex: 1;
/*  border: 1px solid #555; */
}

.node_name {
  width: 30%;
}

.node_color {
  width: 8%;
}

.node_shape {
  width: 8%;
}

/*
#tree_output {

}
*/