.container {
  display: flex;
}

#col-1 {
/*  background-color: yellow;*/
  flex: 1;
}

#col-2 {
/*  background-color: orange;*/
  flex: 1;
/*  border: 1px solid #555; */
}

.js-example-basic-single {
  width: 150px;
}

.graph_layout {
  width: 100px;
}

.graph_rankdir {
  width: 150px;
}


.node_name {
  width: 30%;
}

.node_color {
  width: 8%;
}

.node_shape {
  width: 8%;
}

.edge_label {
  width: 30%;
}

.edge_style {
  width: 8%;
}

.edge_direction {
  width: 8%;
}




/*
#tree_output {

}
*/